.projects {
    padding-top: 160px;
    background: linear-gradient(to bottom, #ffffff 80%, $Ultra-light-grey 20%);

    &__container {
        @include flex-justify;
        flex: 1 1 auto;
    }

    &__column {
        margin-top: 10rem;
        width: 470px;
        height: 302px;
    }

    &__image {
        max-width: 100%;
        box-shadow: -30px 95px $Ultra-light-grey;
    }
}
