.title-text {

    &__title {
        font-size: 2.4rem;
        color: $Dunkel-Blau;
        margin-bottom: 1.6rem;
    }

    &__title--big {
        font-size: 3.2rem;
        color: $Dunkel-Blau;
        margin-bottom: 1.6rem;
    }

    &__text {
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: $light-blue;
    }
}